@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:255 255 255;
  --text:15 23 42;
}

[data-theme='dark'] {
  --background: 17 17 17;
  --text:241 245 249;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--text));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
