.button {
  white-space: nowrap;
  padding: 0.5rem 1.1rem;
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.7em;
  border-radius: var(--radius);
  cursor: pointer;
  transition: background-color 250ms;
  text-decoration: none;
  font-size: inherit;
  font-family: var(--ff-poppins);
}
/* default varient */
.default {
  background-color: hsl(var(--secondary));
  border: none;
  color: hsl(var(--text-forground));
}
.default:hover {
  background-color: hsl(var(--secondary), 0.8);
}

/* outline varient */
.outline {
  border: 1px solid hsl(var(--border));
  background-color: transparent;
  color: hsl(var(--text));
}

.outline:hover {
  background-color: hsl(var(--border), 0.2);
}

/* ghost varient */
.ghost {
  border: none;
  background-color: transparent;
  color: hsl(var(--text));
}

.ghost:hover {
  background-color: hsl(var(--border), 0.3);
}

/* danger varient */
.danger {
  background-color: hsl(var(--danger));
  border: none;
  color: hsl(var(--text-forground));
}

.danger:hover {
  background-color: hsl(var(--danger), 0.7);
}

/* success varient */
.success {
  background-color: hsl(var(--success));
  border: none;
  color: hsl(var(--text-forground));
}

.success:hover {
  background-color: hsl(var(--success), 0.7);
}

/* iconSize */
.iconSize {
  aspect-ratio: 1;
  width: 40px;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .button {
    font-size: 0.8rem;
  }
  .iconSize {
    width: 35px;
  }
}
