@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: 200 100% 50%;
  --primary-forground: 218 100% 50%;
  --secondary: 319 100% 50%;
  --secondary-forground: 277 100% 50%;
  --text: 255 100% 0%;
  --text-forground: 255 100% 100%;
  --sub-text: 255 0% 30%;
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
}

.dark {
  --primary: 200 100% 50%;
  --primary-forground: 218 100% 50%;
  --secondary: 319 100% 50%;
  --secondary-forground: 277 100% 50%;
  --text: 255 100% 100%;
  --text-forground: 255 100% 0%;
  --sub-text: 255 0% 30%;
}

/* link */
.link {
  text-decoration: none;
  font-weight: bold;
  text-underline-offset: 4px;
}
.link:hover {
  text-decoration: underline;
}
