@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background:255 100% 100%;
  --primary: 200 100% 50%;
  --primary-forground: 218 100% 50%;
  --secondary: 319 100% 50%;
  --secondary-forground: 277 100% 50%;
  --text: 255 100% 0%;
  --text-forground: 255 100% 100%;
  --sub-text: 255 0% 30%;
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
}

.dark {
  --background:255 100% 0%;
  --primary: 200 100% 50%;
  --primary-forground: 218 100% 50%;
  --secondary: 319 100% 50%;
  --secondary-forground: 277 100% 50%;
  --text: 255 100% 100%;
  --text-forground: 255 100% 0%;
  --sub-text: 255 0% 30%;
}

:root {
    --doc-border:235 235 235;
    --doc-pre:250 250 250;
}

.dark {
    --doc-border:38 38 38;
    --doc-pre:21 21 21;
}

/* scrollbar */
::-webkit-scrollbar{
  --size:2px;
  width: var(--size);
  height: var(--size);
  background-color: transparent;
}
::-webkit-scrollbar-thumb{  
  background-color: hsl(var(--text));
  border-radius: 10px;
}

/* link */
.link {
  text-decoration: none;
  font-weight: bold;
  text-underline-offset: 4px;
}
.link:hover {
  text-decoration: underline;
}

pre::-webkit-scrollbar {
  display: none;
}

.nextra-code-block div:nth-child(1){
  background-color: rgb(var(--doc-pre)) !important;
  border: 1px solid rgb(var(--doc-border));

}
.nextra-button{
  background-color: rgb(var(--doc-pre)) !important;
}

pre {
  -ms-overflow-style: none;
  background-color: rgb(241, 241, 241);
  scrollbar-width: none;
  background-color: rgb(var(--doc-pre)) !important;
  border: 1px solid rgb(var(--doc-border));
  /* box-shadow: 0 0 0 1px ; */
}

.nextra-filetree > div{
  width: 100%;
}


.nextra-menu-desktop li a,
.nextra-menu-desktop li button{
  padding:  4px 8px !important;
  font-size: .8rem !important;
}
.nextra-menu-desktop li button{
}
.nextra-menu-desktop li:has(.separator){
  border-top: 1px solid rgb(var(--doc-border));
  margin: 5px 0 0 0 !important;
}