@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* removing extra margin and padding */
/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* css variables used in components */
.preview-wrapper {
  /* default font */
  --ff-poppins: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  font-family: var(--ff-poppins);
}

.preview-wrapper {
  background-color: hsl(var(--background));
  color: hsl(var(--text));
}

.preview-wrapper.dark {
  background-color: hsl(var(--background));
  color: hsl(var(--text));
}

.preview-wrapper ::selection {
  background-color: hsl(var(--secondary));
  color: hsl(var(--accent));
}

/* foucs outline */
.preview-wrapper button:focus,
.preview-wrapper a:focus,
.preview-wrapper input:focus,
.preview-wrapper textarea:focus {
  outline: 2px solid hsl(var(--primary));
  outline-offset: 2px;
}

/* 
  *documentation css 
*/

:root {
  --text: 267, 30%, 20%;
  --background: 263, 40%, 96%;
  --primary: 266, 40%, 28%;
  --secondary: 267, 46%, 51%;
  --accent: 267, 51%, 44%;
  /* set this with realtime colors site */
  --muted: var(--text), 70%;
  --text-forground: 255 100% 100%;
  --border: 267, 25%, 75%;
  --danger: 0, 84.2%, 60.2%;
  --success: 134, 51%, 36%;

  --radius: 5rem;

  --doc-border: 267, 25%, 75%;
  --doc-pre: 263, 40%, 93%;
  --doc-pre-2: 263, 40%, 91%;
  --doc-pre-3: 263, 40%, 71%;
}

.dark {
  --text: 267, 27%, 94%;
  --background: 266, 37%, 4%;
  --primary: 266, 40%, 72%;
  --secondary: 267, 46%, 34%;
  --accent: 267, 51%, 56%;
  --muted: var(--text), 40%;
  --text-forground: 255 100% 100%;
  --border: 267, 15%, 20%;
  --danger: 0, 62.8%, 30.6%;
  --success: 130, 46%, 30%;

  --doc-border: 267, 15%, 20%;
  --doc-pre: 266, 37%, 5%;
  --doc-pre-2: 266, 37%, 8%;
  --doc-pre-3: 266, 57%, 15%;
}

body {
  color: hsl(var(--text)) !important;
}

/* nextra document */
.nextra-content {
  color: hsl(var(--text));
}

/* all links in nextra content */
.nextra-content a {
  color: hsl(var(--accent));
}

.nextra-card {
  border: 1px solid hsl(var(--doc-border)) !important;
}
.nextra-card:hover {
  border: 1px solid hsl(var(--doc-border)) !important;
  background-color: hsl(var(--primary), 0.05) !important;
}

/* nextra sidebar */
.nextra-sidebar-container div {
  color: hsl(var(--text)) !important;
}

.nextra-sidebar-container li a,
.nextra-sidebar-container li button {
  color: hsl(var(--text)) !important;
}

/* nextra code content */
.nextra-code {
  box-shadow: 0 !important;
}

/* nextra code header */
.nextra-code > div {
  background-color: hsl(var(--doc-pre-2)) !important;
  border-color: hsl(var(--doc-border)) !important;
}

/* nextra code block */
.nextra-code pre {
  background-color: hsl(var(--doc-pre)) !important;
  box-shadow: inset 0 0 0 1px hsl(var(--doc-border)) !important;
}

.nextra-code pre::-webkit-scrollbar-thumb {
  background-color: hsl(var(--accent), 0.5);
}

.nextra-code pre span[data-highlighted-line] {
  background-color: hsl(var(--doc-pre-3), 0.3) !important;
}

/* steps */
.nextra-steps {
  border-left: 1px solid hsl(var(--accent), 0.3) !important;
}

.nextra-steps h3::before {
  background-color: hsl(var(--secondary)) !important;
  color: hsl(var(--text));
}

/* tablist */
/* 
.nextra-scrollbar > div {
  border-bottom: 1px solid hsl(var(--border), 0.4) !important;
} */

/* nextra table */
.nextra-content table {
  margin: 1rem 0;
  width: 100%;
}

.nextra-content table th,
.nextra-content table td {
  padding: 7px 10px;
  border: 1px solid hsl(var(--doc-border)) !important;
}

.nextra-content table tr,
.nextra-content table th {
  background-color: hsl(var(--doc-pre)) !important;
}

.nextra-content table tr:nth-child(even) {
  background-color: hsl(var(--doc-pre-2)) !important;
}

/* nextra filetree */
.nextra-filetree > div {
  width: 100%;
  border-color: hsl(var(--doc-border)) !important;
}
